{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <!-- Modal -->
  <div
    class="modal fade"
    id="createQuestion"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Quiz</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form method="post" action="create-quiz">
            <h1>TEst</h1>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 d-flex justify-content-end align-items-center">
    <button
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#createQuestion"
    >
      Create Quiz
    </button>
  </div>
  {% if quizzes %}
  <div class="row">
    {% for quiz in quizzes %}
    <div class="col-lg-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">{{quiz.1}}</h5>
          <p class="card-text">{{quiz.2}}</p>
          <a
            href="{{ url_for('editQuiz', quiz_number=quiz.0) }}"
            class="btn btn-primary"
            >Add quizzes</a
          >
        </div>
      </div>
    </div>
    {%endfor %}
  </div>

  {% else %}
  <p>No quizzes available.</p>
  {% endif %}

  <!-- {% if quizzes %}
  <ul>
    {% for quiz in quizzes %}
    <li class="text-danger">{{ quiz.0 }} - {{ quiz.1 }} - {{ quiz.2 }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No quizzes available.</p>
  {% endif %} -->

  <!-- <form style="min-width: 300px" action="/create" method="post">
    <h2>Question</h2>
    <div class="form-group">
      <textarea
        name="question"
        class="form-control"
        id="question"
        rows="3"
      ></textarea>
    </div>
    <div class="row my-3">
      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1">Choice A</label>
          <input type="text" class="form-control" name="a" id="a" />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1">Choice B</label>
          <input type="text" class="form-control" name="b" id="b" />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1">Choice C</label>
          <input type="text" class="form-control" name="c" id="c" />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1">Choice D</label>
          <input type="text" class="form-control" name="d" id="d" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <button type="submit" class="btn btn-primary px-5 my-2">Submit!</button>
      </div>
      <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <button type="submit" class="btn btn-success px-5 my-2">
          Finish Creating Quiz?
        </button>
      </div>
    </div>
  </form> -->
</div>
{%endblock %}
