{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <!-- Modal -->
  <div
    class="modal fade"
    id="createQuiz"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Quiz</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form method="post" action="create-quiz">
            <input
              type="text"
              class="form-control"
              name="title"
              id="title"
              placeholder="Enter your quiz title"
            />
            <textarea
              name="description"
              class="form-control my-3"
              id="description"
              rows="3"
              placeholder="Description of the quiz"
            ></textarea>

            <div
              class="w-100 d-flex justify-content-end align-items-center mt-3"
            >
              <button type="submit" class="btn btn-primary">Create Quiz</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 d-flex justify-content-end align-items-center">
    <button
      type="button"
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#createQuiz"
    >
      Create Quiz
    </button>
  </div>
  <h1>Created Quizzes 🚀</h1>
  <div class="line bg-primary my-3" style="width: 100px; height: 5px"></div>
  {% if quizzes %}
  <div class="row">
    {% for quiz in quizzes %}
    <div class="col-lg-4 d-flex justify-content-center align-items-center my-3">
      <div
        class="card shadow-lg"
        style="width: 18rem; background: {{bgColor()}}"
      >
        <div class="card-body text-white">
          <h5 class="card-title">{{quiz.1}}</h5>
          <p class="card-text">{{quiz.2}}</p>
          <div class="row">
            <div class="col-6">
              <a
                href="{{ url_for('editQuiz', quiz_number=quiz.0) }}"
                class="btn btn-warning w-100"
                style="font-size: smaller"
                >Add Quiz ➕</a
              >
            </div>
            <div class="col-6">
              <a href="/delete/{{quiz.0}}" class="btn btn-danger w-100"
                >Delete🗑️</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endfor %}
  </div>

  {% else %}
  <div class="container d-flex justify-content-center align-items-center">
    <h2 class="text-left my-5">No quizzes available yet! 😭</h2>
  </div>
  {% endif %}

  <!-- {% if quizzes %}
  <ul>
    {% for quiz in quizzes %}
    <li class="text-danger">{{ quiz.0 }} - {{ quiz.1 }} - {{ quiz.2 }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No quizzes available.</p>
  {% endif %} -->

  <!-- <form style="min-width: 300px" action="/create" method="post">
    <h2>Question</h2>
    <div class="form-group">
      <textarea
        name="question"
        class="form-control"
        id="question"
        rows="3"
      ></textarea>
    </div>
    <div class="row my-3">
      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1">Choice A</label>
          <input type="text" class="form-control" name="a" id="a" />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1">Choice B</label>
          <input type="text" class="form-control" name="b" id="b" />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1">Choice C</label>
          <input type="text" class="form-control" name="c" id="c" />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1">Choice D</label>
          <input type="text" class="form-control" name="d" id="d" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <button type="submit" class="btn btn-primary px-5 my-2">Submit!</button>
      </div>
      <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <button type="submit" class="btn btn-success px-5 my-2">
          Finish Creating Quiz?
        </button>
      </div>
    </div>
  </form> -->
</div>
{%endblock %}
