{% extends "base.html" %} {% block content %}

<div class="container my-5">
  <h3 class="text-center fw-bold my-5">QUIZ #ID {{quiz_number}}</h3>

  <form action="/edit-quiz" method="post">
    <h2>Add Question</h2>
    <div class="form-group">
      <textarea
        name="question"
        class="form-control"
        id="question"
        rows="3"
      ></textarea>
    </div>
    <div class="row my-3">
      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1">Choice A</label>
          <input type="text" class="form-control" name="a" id="a" />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1">Choice B</label>
          <input type="text" class="form-control" name="b" id="b" />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1">Choice C</label>
          <input type="text" class="form-control" name="c" id="c" />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputPassword1">Choice D</label>
          <input type="text" class="form-control" name="d" id="d" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 d-flex justify-content-center align-items-center">
        <select class="form-control">
          <option>What is the correct answer?</option>
          <option value="a">Letter A</option>
          <option value="b">Letter B</option>
          <option value="c">Letter C</option>
          <option value="d">Letter D</option>
        </select>
      </div>
      <div class="col-6 d-flex justify-content-center align-items-center">
        <button class="btn btn-success">Add Question!</button>
      </div>
    </div>
  </form>

  <h1 class="text-center fw-bold display-3 my-5">Quizzes</h1>
  <div class="row">
    <div class="col-lg-4">
      <h2>Question</h2>
      <div class="form-group">
        <textarea
          name="question"
          class="form-control"
          id="question"
          rows="3"
        ></textarea>
      </div>
      <div class="row my-3">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Choice A</label>
            <input type="text" class="form-control" name="a" id="a" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Choice B</label>
            <input type="text" class="form-control" name="b" id="b" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Choice C</label>
            <input type="text" class="form-control" name="c" id="c" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Choice D</label>
            <input type="text" class="form-control" name="d" id="d" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h2>Question</h2>
      <div class="form-group">
        <textarea
          name="question"
          class="form-control"
          id="question"
          rows="3"
        ></textarea>
      </div>
      <div class="row my-3">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Choice A</label>
            <input type="text" class="form-control" name="a" id="a" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Choice B</label>
            <input type="text" class="form-control" name="b" id="b" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Choice C</label>
            <input type="text" class="form-control" name="c" id="c" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Choice D</label>
            <input type="text" class="form-control" name="d" id="d" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <h2>Question</h2>
      <div class="form-group">
        <textarea
          name="question"
          class="form-control"
          id="question"
          rows="3"
        ></textarea>
      </div>
      <div class="row my-3">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Choice A</label>
            <input type="text" class="form-control" name="a" id="a" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Choice B</label>
            <input type="text" class="form-control" name="b" id="b" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Choice C</label>
            <input type="text" class="form-control" name="c" id="c" />
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputPassword1">Choice D</label>
            <input type="text" class="form-control" name="d" id="d" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock %}
