{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  {% if quizzes %}
  <div class="row">
    {% for quiz in quizzes %}
    <div class="col-lg-4 d-flex justify-content-center align-items-center my-3">
      <div
        class="card shadow-lg"
        style="width: 18rem; background: {{bgColor()}}"
      >
        <div class="card-body text-white">
          <h5 class="card-title">{{quiz.1}}</h5>
          <p class="card-text">{{quiz.2}}</p>
          <a
            href="{{ url_for('takeQuiz', quiz_number=quiz.0, quizTitle=quiz.1) }}"
            class="btn btn-primary"
            >Take Quiz!</a
          >
        </div>
      </div>
    </div>
    {%endfor %}
  </div>

  {% else %}
  <p>No quizzes available.</p>
  {% endif %}
</div>
{%endblock %}
